@model PaulaPires.Models.ModeloVideos

@{
    ViewBag.Title = "Cadastrar conteúdo vídeo";
    Layout = "~/Areas/administrador/Views/Shared/_Layout.cshtml";
}

<div class="portlet box">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @using (Html.BeginForm("Cadastrar", "ConteudoVideos", FormMethod.Post, new { @class = "form-horizontal form-row-seperated", @id = "cadastrar_categoria", @role = "form", enctype = "multipart/form-data" }))
        {           
            <input type="hidden" name="Actived" id="Actived" />
            <input type="hidden" name="Id" id="Id" value="@Model.Id"/>
             
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    Favor corrigir os erros do formulário antes de enviá-lo.
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Formulário enviado com sucesso!
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Página</label>
                    <div class="col-md-9">                        
                        @Html.DropDownListFor(model => model.PaginaId, new SelectList(ViewBag.Paginas, "Id", "TituloPagina"), "Selecione", new { @class = "form-control select2me", @name = "PaginaId" })
                        <span class="help-block">Página do conteúdo
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Link do vídeo</label>
                    <div class="col-md-9">                        
                        @Html.TextAreaFor(model => model.Conteudo, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Campo obrigatório", @rows="6" })
                        <span class="help-block">Link do vídeo do youtube
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green btn-cadastrar"><i class="fa fa-pencil"></i> Salvar</button>
                            <a href="@Url.Action("Index", "Paginas", new { area = "administrador" })" class="btn default">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- END FORM-->
    </div>
</div>

@section pageTitle{
    Conteúdo <small>Cadastro de conteúdo Vídeos</small>
}
@section breadcrumb{
    <li>Conteúdo
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="@Url.Action("Index", "Paginas", new { area = "administrador" })">Páginas
        </a>
        <i class="fa fa-angle-right"></i>
    </li>

    @if (Model.Id > 0)
    {
        <li><a href="@Url.Action("Visualizar", "Paginas", new { area = "administrador", @pPagina = @Model.PaginaId })">@Model.Pagina.TituloPagina</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>Editar conteúdo Vídeos</li>
    }
    else
    {
        <li>Cadastrar Conteúdo Vídeos</li>
    }
}
@section pagelevelpluginstyles{
    <link rel="stylesheet" type="text/css" href="/Areas/administrador/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="/Areas/administrador/assets/plugins/select2/select2-metronic.css" />
    <link rel="stylesheet" type="text/css" href="/Areas/administrador/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />
@*  <link rel="stylesheet" type="text/css" href="/Areas/administrador/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="/Areas/administrador/assets/plugins/jquery-tags-input/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="/Areas/administrador/assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css" href="/Areas/administrador/assets/plugins/typeahead/typeahead.css">*@
    <link rel="stylesheet" type="text/css" href="/Areas/administrador/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css"/>
    <link rel="stylesheet" type="text/css" href="/Areas/administrador/assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
}
@section scriptsinline{
    <script>
        jQuery(function ($) {
            //FormSamples.init();
            //ComponentsFormTools.init();
            //ComponentsEditors.init();
            //FormValidation.init();            
            ComponentsEditors.init();
        });

    </script>
}
@section pagelevelscripts{
    <script src="/Areas/administrador/assets/scripts/core/app.js"></script>
    <script src="/Areas/administrador/assets/scripts/custom/components-editors.js"></script>
}

@section pagelevelplugins{
    <script type="text/javascript" src="/Areas/administrador/assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Areas/administrador/assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="/Areas/administrador/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script src="/Areas/administrador/assets/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
    <script src="/Areas/administrador/assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Areas/administrador/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
}